
.topbuttons {
  color: gray;
  list-style: none;
  font-weight: bold;
  font-size: medium;
  display: inline;

}

.background {
  width: 1000px;
  height:250px;
  position:absolute;
  margin-bottom: 75px;
}

.heading1 {
  color: white;
  font-size: xx-large;
  list-style: none;
  width: 100%;
  position:absolute;
  padding-left: 375px;

}

.heading2 {
  color: white;
  font-size: xx-large;
  list-style: none;
  width: 100%;
  margin: 0px;
  position:absolute;
  padding-left: 345px;
  padding-top: 55px;
}

.boxes {
  display:inline;

}

.box1 {
  padding-top: 50px;
  background-color: green;
  position: relative;
  height: 400;
  width: 200;
  float: left;
  margin-left: 30px;

}

.price {
  font-size: xx-large;
  font-weight: bold;

}

div h1 {
  font-size: medium;
  padding-left: 45px;
  color: white;

}

.price {
  font-size: xx-large;
  font-weight: bold;
  padding-left: 75px;
  color: white;

}

div h2 {
  font-size: medium;
  padding-left: 50px;
  color: lightgray;

}

.box1features {
  list-style: none;
  display: inline;
  text-align: center;

}

.box2 {
  padding-top: 50px;
  background-color: blue;
  position: relative;
  height: 400px;
  width: 200px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.box2features {
  list-style: none;
  display: inline;
  text-align: center;

}

.price2 {
  font-size: xx-large;
  font-weight: bold;
  padding-left: 75px;
  color: white;
}

.box3 {
    padding-top: 50px;
    background-color: black;
    position: relative;
    height: 400px;
    width: 200px;
    float: left;

  }

.box3features {
    list-style: none;
    display: inline;
    text-align: center;

  }

.price3 {
    font-size: xx-large;
    font-weight: bold;
    padding-left: 75px;
    color: white;

}

.custoptions {
  display: inline;

}
